limit_req_zone $binary_remote_addr zone=mylimit:10m rate=10r/s;

server {
  listen 80;
  listen 443 ssl;
  server_name __DOMAIN__;
  ssl_certificate /data/letsencrypt/live/__DOMAIN__/fullchain.pem;
  ssl_certificate_key /data/letsencrypt/live/__DOMAIN__/privkey.pem;
  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers HIGH:!aNULL:!MD5;

  limit_req zone=mylimit burst=20 nodelay;

  location / {
    proxy_pass http://express:5000;
  }
}